absl-py==1.0.0
aiohttp==3.7.4
asgiref==3.5.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.4.0
Brotli==1.0.9
cachetools==5.0.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
deprecation==2.1.0
Django==4.0.3
django-plotly-dash==1.6.6
dpd-components==0.1.0
Flask==2.0.3
Flask-Compress==1.11
flatbuffers==2.0
future==0.18.2
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.0
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==13.0.0
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.1.0
msgpack==1.0.2
multidict==6.0.2
multitasking==0.0.10
numpy==1.22.2
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pandas-datareader==0.10.0
pip==22.0.3
plotly==5.6.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
setuptools==60.5.0
simplejson==3.17.6
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
typing_extensions==4.1.1
tzdata==2021.5
urllib3==1.26.8
websocket-client==1.2.3
websockets==9.1
Werkzeug==2.0.3
wheel==0.37.1
wrapt==1.13.3
yahoo-finance==1.4.0
yarl==1.7.2
yfinance==0.1.70
zipp==3.7.0
whitenoise
django-sendgrid-v5
nodejs

