{% load static %}
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/sight-logo-oficial-263x281.png' %}" type="image/x-icon">
  <meta name="description" content="Sight: AI Stock Market Analysis and Prediction Web Application.">
  
  
  <title>SignUp</title>
  <link rel="stylesheet" href="{% static 'assets/Material-Design-Icons/css/material.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/web/assets/gdpr-plugin/gdpr-styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/animatecss/animate.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/recaptcha.css' %}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  
  

</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-sXESGXSuOD" once="menu" id="menu2-4z">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="../landing">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" style="height: 4.7rem;" loading="lazy" class="lazyload" data-src="{% static 'assets/images/sight-logo-oficial-263x281.png' %}">
                    </a>
                </span>
                
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="../landing#testimonials3-4h"><span class="mdi-action-info mbr-iconfont mbr-iconfont-btn"></span>About Us</a></li><li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="../landing#contacts3-4i"><span class="mdi-communication-email mbr-iconfont mbr-iconfont-btn"></span>Contact Us</a></li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-black display-4" href="../login">Log In</a></div>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="form3 cid-sXESGYssoj" id="form3-50">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12">
                <div class="image-wrapper">
                    <img class="w-90 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" loading="lazy" data-src="{% static 'assets/images/icon-sight-logo-1476x845.png' %}">
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 mbr-form" data-form-type="formoid">
                
                <form role="form" method="POST" action="../signup/">
                    {% csrf_token %}
                    {% for error in errors %}
                      {{ error }}<br>
                    {% endfor %}
                    
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                <strong>Sign Up</strong></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-4 display-7"><a href="../login" class="text-primary">Already a member? Log-in</a></p>
                        </div>
                        <div data-for="name" class="col-lg-12 col-md col-sm-12 form-group mb-3">
                            <input type="text" name="first_name" placeholder="First Name" class="form-control" value="" id="first_name" required/>
                        </div>
                        <div class="col-lg-12 col-md col-sm-12 form-group mb-3" data-for="lastname">
                            <input type="text" name="last_name" placeholder="Last Name" class="form-control" value="" id="last_name" required/>
                        </div>
                        <div class="col-lg-12 col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" class="form-control" value="" id="email" required/>
                        </div>
                        <div class="col-lg-12 col-md col-sm-12 form-group mb-3" data-for="password">
                            <input type="password" name="password" placeholder="Password" class="form-control" value="" id="password" required/>
                        </div>
                        <div class="col-lg-12 col-md col-sm-12 form-group mb-3" data-for="password">
                            <input type="password" name="password_confirmation" placeholder="Confirm Password" class="form-control" value="" id="password_confirmation" required/>
                        </div>
                        <div class="col-md-auto col-12 mbr-section-btn"><button type="submit" class="btn btn-primary display-4">Submit</button></div>
                    </div>
                <span class="gdpr-block">
<label>
<span class="textGDPR display-7" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-form3-50" required="">By continuing you agree to our <a style="color: #149dcc; text-decoration: none;" href="terms.html">Terms of Service</a> and <a style="color: #149dcc; text-decoration: none;" href="policy.html">Privacy Policy</a>.</span>
</label>
</span></form>
            </div>
            <div class="offset-lg-1"></div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-sXroWSZGNi mbr-reveal" once="footers" id="footer3-4n">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-primary" href="../landing#testimonials3-4h">About us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7"><a href="../landing#contacts3-4i" class="text-primary">Contact Us</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a href="../login" class="text-primary">Log in</a></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2021 SIGHTAPP. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>



<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/ytplayer/index.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/formoid.min.js' %}"></script>
  
  
  
  <input name="animation" type="hidden">
  
<script>"use strict";if("loading"in HTMLImageElement.prototype){document.querySelectorAll('img[loading="lazy"],iframe[loading="lazy"]').forEach(e=>{e.src=e.dataset.src,e.style.paddingTop=100*e.getAttribute("data-aspectratio")+"%",e.style.height=0,e.onload=function(){e.removeAttribute("style")}})}else{const e=document.createElement("script");e.src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js",document.body.appendChild(e)}</script>
</body>
</html>